.nowalletpage {
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    min-height: 80vh;
}
.nowalletpage img {
  width: 200px;
  color: rgb(255, 255, 255);
}
.nowalletpage button {
    margin: 40px 0px;
    width: 125px;
    cursor: pointer;
}


  .individualpage button {
    margin: 40px 0px;
    width: 125px;
    cursor: pointer;
  }




  .individualpage {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
  }
  
  .individualformcontainer {
    width: 100%;
    max-width: 720px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  label {
    text-align: left;
    width: 100%;
    margin: 20px 0px 10px 0px;
  }
  
  .fileselector {
    width: 100%;
    height: 30vh;
    background-color: var(--secondary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--tertiaryshade1);
    padding: 20px 10px;
    line-height: 40px;
    margin-top: 20px;
  }
  
  .fileselector img {
    width: 100px;
  }
  
  .fileselector button {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--primary);
  }
  
  input {
    width: 100%;
    max-width: 100%;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
  }
  
  input::placeholder {
    margin: 10px;
  }
  
  textarea {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }
  
  .individualpage .whitebutton {
    margin: 20px;
  }
  
  .instructiontext {
    width: 100%;
    max-width: 720px;
  }
  

  /* The alert message box */
.alert {
  padding: 20px;
  background-color: green; /* Red */
  color: white;
  align-items: right;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}